body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* vmin skalerer responsivt til viewporten */
    letter-spacing: 1vmin;
}

canvas {
    grid-column-start: 2;
}

.beholder {
    max-width: 100%;
    text-align: center;
    color: rgb(31, 28, 28);
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.overskrift{
    text-align: center;
    background-color:lightblue;
    font-size: 50px;
}
